{% extends "guest_views/base_fixed.twig" %}

{% block head %}
	<meta property="og:title" content="Ciro Automotores - ¡Hacé contacto hoy mismo! Tenemos autos usados en Salta y Jujuy además de autos 0 KM" />
	<meta property="og:description" content="¡Hacé contacto con Ciro Automotores! Tenemos los mejores autos usados en Salta y Jujuy. ¡Te esperamos!" />
	<meta name="description" content="Ciro Automotores tiene los mejores autos usados en Salta y también contamos con autos 0 kilómetros. 🔥 !Hacé contacto ahora mismo! 🔥" />
	<meta name="keywords" content="autos usados salta, autos usados en salta, autos 0 km" />
{% endblock %}

{% block aditional_css %}
	{% if production %}
	<link rel="stylesheet" href="/dist/css/404.min.css"/>
	{% else %}
	<link rel="stylesheet" href="/css/404.css"/>
	{% endif %}

  <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css" />

{% endblock %}
{% block title %}Página no encontrada - Ciro Automotores{% endblock %}
{% block content %}
	<div class="search-bar-box">
	<div class="container-fluid">
		<div class="col-lg-6 float-left">
			<div class="row">			
				<h2 class="titulo404">¡Sitio en construcción!</h2>
				<h3>No te preocupes, en un momento serás redireccionado a la página principal.<br>Mientras tanto trabajamos para tener funcional esta página.</h3>
			</div>
		</div>
		<div class="col-lg-6 d-lg-block d-none float-right">
			<img src="{{static_assets}}/images/auto.gif" class="search-bar-img" alt="Auto funcionando" >
		</div>
	</div>
</div>
{% endblock %}

{% block custom_js %}
	<script type="text/javascript">
	$(document).ready(function(){
      setTimeout(function() {
       window.location.href = "{{path_for('home')}}"
      }, 7000);
    }); 
	</script>
{% endblock %}