<div class="container-fluid">
	<div class="box box-default collapsed-box box-solid">
		<div class="box-header with-border">
			<h3 class="box-title text-bold">Modo maestro</h3>
		</div>
	</div>
</div>