<div class="search-bar-box">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6">
				<h2>Encontrá el vehículo de tus sueños.</h2>
				<form>
					<div class="form-group">				
						<input type="text" class="form-control form-control-lg" placeholder="Por ejemplo: Nuevo Ford Ka">
					</div>
				</form>
			</div>
			<div class="col-lg-6 hidden-md-down">
				<img src="{{ base_url() }}/images/auto.gif" class="search-bar-img">
			</div>			
		</div>
	</div>
</div>