.ciromark {
	background-color: #103663 !important;
}
header.ciromark {
	
	padding: 1em 0px;
}

.header-logo-col .header-logo {
	height: 124px;
}

.header_phone {
	height: 100% !important;
	
}

.header_phone small {
	color: #FFF;
}

.header_phone a {
	font-size: 24px;
	display: block;
}