.search_mobile {
	height: 100vh;
	top: 105vh;
	position: fixed;
	background-color: #3286C6;
	width: 100%;
	z-index: 999999;
}

.btn-close-search_mobile {
	font-weight: 300;
	color: #333;
	background-color: transparent;
	border: 0px;
	font-size: 1.8em;
	cursor: pointer;
	position: absolute;
	margin-left: .75em;
	height: 100%;
	align-items: center;
}

.search_mobile .navbar {
	display: block;
	position: relative;
}

.search_mobile .navbar form,
.search_mobile .navbar .btn-close-search_mobile {
	display: inline-flex;
}

.search_mobile .navbar form {
	
	width: 100%;
}

.search_mobile .form-control {
	border-radius: 0px;
	padding: .5em;
	padding-left: 3.25em;
	height: 56px;
}

.ui-autocomplete {
  opacity: 0;
  display: none;
  transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  z-index: 999999;
  overflow: hidden;  
  overflow-y: scroll;
}

.ui-autocomplete.opened {
  opacity: 1;
  display: block;
  max-height: 100vh;
  padding-bottom: 1em;
}

.srb-highlight {
	font-weight: bold;
}
.srb-item {
	font-weight: normal;
}